@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto Mono', sans-serif;
}

body {
  background-color: #333;
}

.navbar {
  background-color: #434242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar-logo h1 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 1.2rem;
}

.navbar-toggle {
  cursor: pointer;
  display: none;
}

.toggle-line {
  width: 1.6rem;
  height: 0.2rem;
  background-color: #fff;
  margin: 0.3rem;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.navbar-links-m {
  display: none;
  list-style-type: none;
  background-color: #434242;
  position: sticky;
  top: 3.1rem;
  left: 0;
}

.navbar-links li {
  margin: 0 1.6rem;
}

.navbar-links li a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}

.navbar-links li a:hover {
  color: #a8a8a8;
}

/* .navbar-links li a.active {
  text-decoration: underline;
} */

.navbar-links-m a {
  color: #fff;
  font-size: 1.2rem;
  margin: 0.7rem 0;
  text-decoration: none;
}


.container {
  background-color: #434242;
  border-radius: 25px;
  margin: 20px 15px;
  padding: 25px 20px;
  color: #fff;
}

.content p {
  font-size: 1.3rem;
  text-align: justify;
}

.content-text {
  display: flex;
  flex-direction: column;
}

#about span {
  color: #a8a8a8;
  font-weight: 900;
  text-transform: capitalize;
}

.content span {
  font-weight: 700;
}

.section-name {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#role p {
  margin: 0.5rem;
}

#skills .content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#skills .content-body p {
  margin: 1rem 2rem;
  text-align: justify;
}

#skills h1 {
  text-align: center;
  margin-bottom: 0.3rem;
}

#education .content {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: space-evenly;
  background-color: #333;
  padding: 1.1rem;
  border-radius: 2rem;
}

.container h1 {
  text-transform: uppercase;
}

#education ul {
  margin-top: 1.3rem;
  text-transform: uppercase;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section p {
  text-align: center;
}

#education ul li a:link,
#education ul li a:visited,
#contact a:link,
#contact a:visited {
  text-decoration: none;
  color: #fff;
}

#education ul li a:hover,
#contact a:hover {
  color: #a8a8a8;
}

#contact .content {
  justify-content: space-evenly;
}

.content img {
  border-radius: 2rem;
  width: 15rem;
  height: auto;
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 549px) {
  .navbar-logo h1 {
    margin-left: -0.1rem;
  }

  .content {
    flex-wrap: wrap;
  }

  .content img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 844px) {
  .navbar-links {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links-m {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1030px) {
  #skills .content img {
    margin-bottom: 2rem;
  }

  #skills {
    padding-bottom: 0;
  }
}

@media (max-width: 937px) {
  .section .content {
    margin-bottom: 2rem;
  }

  #education {
    padding-bottom: 0;
  }
}

@media (max-width: 800px) {
  #skills .content {
    grid-template-columns: 1fr;
    width: 100%;
    place-items: center;
  }

  #skills .content-body p {
    margin: 1rem 0rem;
  }

  #skills .content img {
    width: 50%;
  }

  .content-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 420px) {
  #skills .content img {
    width: 70%;
  }
}

@media (max-width: 380px) {
  #contact p{
    font-size: 0.9rem;
  }
}

@media (max-width: 300px) {
  #skills .content img {
    width: 100%;
  }
}